/* SearchFilterBar.css */

.search-filter-wrapper {
  width: 100%;
  display: flex;
  justify-content: center; 
  margin: 20px 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.filter-box {
  width: 100%;
  max-width: 400px; 
}

.filter-select {
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  color: #1c278a;
  background-color: #e5f5fa;
  transition: all 0.3s;
}

.filter-select:focus {
  border-color: #1c278a;
  box-shadow: 0 0 8px rgba(28, 39, 138, 0.2);
  background-color: #eaf8fc;
}

/* Responsive*/
@media (max-width: 768px) {
  .filter-select {
    font-size: 15px;
    padding: 10px 14px;
  }
}

@media (max-width: 480px) {
  .search-filter-wrapper {
    margin: 15px 0;
  }
  .filter-select {
    font-size: 14px;
    padding: 10px 12px;
  }
}
